@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
}

.body {
    display: flex;
    flex-flow: row nowrap;
    background-color: rgb(210, 210, 210);
}

.allItems {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 87vw;
    height: 100vh;
}

.friends {
    width: 95%;
    background-color: white;
    flex-grow: 1;
    margin-bottom: 1rem;
    border-radius: 4px;
    margin-top: 1rem;
    overflow-y: scroll;
}

.insideFriends {
    display: flex;
    flex-flow: column;
    margin: 2rem;
    width: auto;
    height: 100%;
}

.insideFriends table {
    margin-top: 1rem;
    width: 100%;
    height: auto;
}

.insideFriends tr {
    height: 0;
}

.insideFriends th {
    font-family: 'Work Sans', sans-serif;
    padding: 0.5rem;
    height: 2rem;
    text-align: left;
    border-bottom: solid 1px;
}

.insideFriends td {
    height: 2rem;
    font-family: 'Poppins', sans-serif;
    padding: 0.5rem;
}

.insideFriends table, th, td {
    border-collapse: collapse;
}

.entry:hover {
    background-color: rgba(232, 66, 24, 0.4);
}

.insideFriends p {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 2rem;
}