@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* rgb(232, 66, 24)
font-family: 'Work Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

* {
    padding: 0;
    margin: 0;
}

.body {
    display: flex;
    flex-flow: row nowrap;
    background-color: rgb(210, 210, 210);
}

.allItems {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 87vw;
    height: 100vh;
    overflow: hidden;
}

.history {
    width: 95%;
    background-color: white;
    height: 100%;
    margin-bottom: 1rem;
    border-radius: 4px;
    margin-top: 1rem;
    overflow-y: scroll;
}

.insideHistory {
    display: flex;
    flex-flow: column;
    margin: 2rem;
    width: auto;
    height: 100%;
}

.date {
    margin-top: 1rem;
}

.insideHistory h2 {
    font-family: 'Work Sans', sans-serif;
}

.insideHistory h3 {
    font-family: 'Work Sans', sans-serif;
    margin-top: 2rem;
    text-align: center;
}

.insideHistory table {
    margin-top: 1rem;
    width: 100%;
}

.insideHistory th {
    font-family: 'Work Sans', sans-serif;
    padding: 0.5rem;
    height: 2rem;
    text-align: left;
    border-bottom: solid 1px;
}

.insideHistory td {
    height: 2rem;
    font-family: 'Poppins', sans-serif;
    padding: 0.5rem;
}

.insideHistory table, th, td {
    border-collapse: collapse;
}

.entry:hover {
    background-color: rgba(232, 66, 24, 0.4);
}